<a href="/">Return to States</a>

<leaflet center="center" events="events" geojson="geojson" bounds="bounds"></leaflet>
<div class="info county f32">
    <table border="0">
      <tr>
        <td>
          county
        </td>
        <td>
            {{ geojson.selected.properties.NAME || ''}}
        </td>
      </tr>
      <tr>
        <td>
          2010 Population
        </td>
        <td>
          {{ geojson.selected.properties.populations.respop72010 || ''}}

        </td>
      </tr>
      <tr>
        <td>
          2011 Population
        </td>
        <td>
          {{ geojson.selected.properties.populations.respop72011 || ''}}

        </td>
      </tr>
      <tr>
        <td>
          2012 Population
        </td>
        <td>
          {{ geojson.selected.properties.populations.respop72012 || ''}}

        </td>
      </tr>
      <tr>
        <td>
          2013 Population
        </td>
        <td>
          {{ geojson.selected.properties.populations.respop72013 || ''}}

        </td>
      </tr>
    </table>
</div>
